.add__block {
  display: flex;
  justify-content: right;
  margin: 20px 0;
  .add {
    img {
      cursor: pointer;
      opacity: 0.8;
      background-color: #bd7f46;
      padding: 15px;
      margin: 0 5px;
      height: 20px;
      color: white;
      border-radius: 10px;
      transition: all ease-in-out 0.15s;
      &:hover {
        opacity: 1;
      }
    }
    h2 {
      width: 40px;
      text-align: center;
      position: absolute;
      color: rgba(0, 0, 0, 0.8);
      background-color: #8b5c30;
      padding: 8px;
      color: rgba(255, 255, 255, 0.8);
      border-radius: 14px;
      font-size: 21px;
      margin-left: 35px;
    }
  }
}
